GROQ_llama-3.1-8b-instant=gsk_key1
GROQ_llama-3.3-70b-versatile=gsk_key2
GROQ_mixtral-8x7b-32768=gsk_key3
GROQ_gemma2-9b-it=gsk_key4
GEMINI_01=AIzaSy_key1
GEMINI_02=AIzaSy_key2
GEMINI_03=AIzaSy_key3
PREFIX=.
BOT_NAME=BoNGo AI
OWNER_NUMBER=255780470905
SESSION_ID=SWIFTBOT~base64...
